/* <<<<<<< HEAD */
body {
  background-color: blue;
  font-weight: bold;
  color: red;
  font-size: 18px;
  background-color: black;
}
/* body {
  background-color: blue;
  font-weight: bold;
  color: red;
  font-size: 18px;
}
======= */
body{
    background-color: blue;
    font-weight: bold;
    color: red;
    font-size: 18px;
    padding: 2em;
/* >>>>>>> e97df1c43c6f27ff3d944aeb3eda4e72c79fcd01 */
}
